* {
  margin: 0;
}
html, body {
  height: 100%;

}

body { padding-top: 70px; }

.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px; 
}

.container:after {
  content: "";
  display: block;
}
.footer, .container:after {
  height: 100px; 
}

.form-signin {
	max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}

button {
	margin-top: 5px;
	margin-bottom: 5px;
}

h4 {
	margin-top: 5px;
}

input {
	margin-top: 5px;	
	margin-bottom: 5px;
}


@media (max-width : 600px) {

	button {
		height: 35px;
	}

	.form-signin {
		max-width: 280px;
	    padding: 15px;
	    margin: 0 auto;
	}



}

